body{
	color:white;
}

#header{
	padding-top: 7px;
  background-color: red;
	height:75px;
	text-align:center;
}

#leftside{
	padding-top: 7px;
	height: 500px;
	background-color:green;
}

#footer{
	padding-top: 7px;
	background-color: blue;
	height:75px;
}
